*{margin: 0; padding: 0; font-family: poppins;}

.heroSection img{width: 100%;}
.heroSection{position: relative;}
.heroSection .texts{position: absolute; top: 14em; width: 45%; left: 5em;}
.heroSection .texts h1{color: white; font-weight: 500; font-size: 3em; line-height: 1.3em;}
.heroSection .texts p{color: rgba(255, 255, 255, 0.589); font-weight: 300; margin-top: 1.5em; margin-bottom: 2.8em;}
.heroSection .texts a{text-decoration: none; color: rgb(128, 0, 96); border: solid rgb(128, 0, 96); border-width: 0.15em; padding: 0.6em 3em; border-radius: 2em; }
.heroSection .texts a:hover{background-color: rgba(255, 255, 255, 0.87); transition: 200ms ease-in-out;}

.bodyContainer1{background-color: rgba(0, 0, 0, 0.089); text-align: center;}
.bodyContainer1 .cardContainer{display: flex; justify-content: center; gap: 6em; margin-top: 3em; align-items: center; flex-wrap: wrap;}
.bodyContainer1 h2{padding-top: 2em; margin-top: -0.6em; font-size: 2rem; font-weight: 500; text-transform: uppercase;}
.bodyContainer1 .card h6{font-weight: 400; margin-top: 2em; padding-bottom: 5em;}

.bodyContainer2{text-align: center;}
.bodyContainer2 h2{padding-top: 2em; font-weight: 600; text-transform: uppercase;}
.bodyContainer2 p{font-size: 0.8rem; margin-top: 0.7em;}
.bodyContainer2 .cardContainer{display: flex; gap: 2em; width: 85%; margin-left: auto; margin-right: auto; margin-top: 2.5em; flex-wrap: wrap;}
.bodyContainer2 .card{border: 2px solid rgb(212, 212, 212); border-radius: 1.2em;}
.bodyContainer2 .cards{width: 20em; margin-left: auto; margin-right: auto;}
.bodyContainer2 .cardContainer .card h3{text-transform: uppercase; font-weight: 600; padding-top: 1em; background-color: rgb(212, 212, 212); border-radius: 0.8em 0.8em 0em 0em; padding-bottom: 1em;}
.bodyContainer2 .cardContainer .card h6{text-align: left; margin-top: 2.5em; width: 70%; margin-left: auto; margin-right: auto; color: rgba(0, 0, 0, 0.808);}
.bodyContainer2 .cardContainer .card .price{display: flex; align-items: baseline; justify-content: center; margin-top: 2em;}
.bodyContainer2 .cardContainer .card .price h4{font-size: 1.3rem; font-weight: 600;}
.bodyContainer2 .cardContainer .card .price h5{font-weight: 500; color:rgba(0, 0, 0, 0.568);}
.bodyContainer2 .cardContainer .card a{color: purple; text-decoration: none; border: 1px solid purple; padding: 0.5em 2.5em; border-radius: 0.6em; display: inline-block; margin-top: 1.5em; margin-bottom: 2.5em;} 

.bodyContainer2 .card3{border: 2px solid rgb(99, 0, 82); border-radius: 1.2em;}
.bodyContainer2 .cardContainer .card3 h3{text-transform: uppercase; font-weight: 600; padding-top: 1em; background: linear-gradient(to Right,black, rgb(124, 0, 108)); border-radius: 0.8em 0.8em 0em 0em; padding-bottom: 1em; color: white;}
.bodyContainer2 .cardContainer .card3 h6{text-align: left; margin-top: 2.5em; width: 70%; margin-left: auto; margin-right: auto; color: rgba(0, 0, 0, 0.808);}
.bodyContainer2 .cardContainer .card3 .price{display: flex; align-items: baseline; justify-content: center; margin-top: 2em;}
.bodyContainer2 .cardContainer .card3 .price h4{font-size: 1.3rem; font-weight: 600;}
.bodyContainer2 .cardContainer .card3 .price h5{font-weight: 500; color:rgba(0, 0, 0, 0.568);}
.bodyContainer2 .cardContainer .card3 a{color: rgb(255, 255, 255); text-decoration: none; border: 1px solid purple; padding: 0.5em 2.5em; border-radius: 0.6em; display: inline-block; margin-top: 1.5em; margin-bottom: 2.5em; background: linear-gradient(to Right, black , rgb(109, 0, 91));} 

.bodyContainer3{margin-top: 3em; position: relative;}
.bodyContainer3 img{width: 100%;}
.bodyContainer3 .texts{position: absolute; top: 5em; left: 5em;}
.bodyContainer3 .texts h2{font-size: 2.2rem; font-weight: 500; text-transform: uppercase; color: white;}
.bodyContainer3 .texts p{color: white; font-weight: 200; width: 40em; margin-top: 1em;}
.bodyContainer3 .texts a{text-decoration: none; color: white; background-color: rgb(100, 0, 95); padding: 0.7em 2.5em; border-radius: 3em; display: inline-block; margin-top: 2em;}

.bodyContainer4{text-align: center; margin-top: 2em;}
.bodyContainer4 p{width: 80%; margin-left: auto; margin-right: auto; margin-top: 1em;}
.bodyContainer4 a{text-decoration: none; color: white; background-color: purple; padding: 0.7em 4em; display: inline-block; border-radius: 2em; margin-top: 2em;}
.bodyContainer4 h1{font-weight: 600;}






@media (max-width: 1222px){
    .bodyContainer3 .texts{
      top: 3em;
    }

    .bodyContainer3 .texts h2{
      font-size: 2em;
    }

    .bodyContainer3 .texts p{
      font-size: 0.9rem;
    }

    .bodyContainer3 .texts a{
      font-size: 0.9em;
    }
}


@media (max-width: 1000px){
  .bodyContainer3 .texts{
    position: sticky;
    text-align: center;
    left: 10em;
  }

  .bodyContainer3 .texts h2{
    font-size: 2em;
    color: black;
  }

  .bodyContainer3 .texts p{
    font-size: 1rem;
    color: black;
    font-weight: 300;
    margin-left: auto; margin-right: auto;
  }

  .bodyContainer3 .texts a{
    font-size: 0.9em;

  }
}

@media (max-width: 650px){
  .bodyContainer3 .texts{
    position: sticky;
    text-align: center;
    left: 10em;
  }

  .bodyContainer3 .texts h2{
    font-size: 2em;
    color: black;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .bodyContainer3 .texts p{
    font-size: 1rem;
    color: black;
    font-weight: 300;
    width: 80%;
    margin-left: auto; margin-right: auto;
  }

  .bodyContainer3 .texts a{
    font-size: 0.9em;

  }
}



@media (max-width: 1024px) {
    .heroSection .texts {
      top: 5em;
      width: 60%;
      left: 3em;
    }
  
    .heroSection .texts h1 {
      font-size: 2.5em;
    }
  
    .heroSection .texts p {
      font-size: 0.9em;
    }
  
    .heroSection .texts a {
      font-size: 0.9em;
      padding: 0.5em 2.5em;
    }
  }
  
  @media (max-width: 768px) {
    .heroSection .texts {
      top: 5em;
      width: 70%;
      left: 2em;
    }
  
    .heroSection .texts h1 {
      font-size: 2em;
    }
  
    .heroSection .texts p {
      font-size: 0.85em;
    }
  
    .heroSection .texts a {
      font-size: 0.8em;
      padding: 0.5em 2em;
    }
  }

  @media (max-width: 600px) {
    .heroSection .texts {
      top: 3em;
      width: 70%;
      left: 2em;
    }
  
    .heroSection .texts h1 {
      font-size: 1.5em;
    }
  
    .heroSection .texts p {
      font-size: 0.85em;
    }
  
    .heroSection .texts a {
      font-size: 0.7em;
      padding: 0.5em 2em;
    }
  }
  
  @media (max-width: 500px) {
    .heroSection .texts {
      top: 3em;
      width: 90%;
      left: 1em;
    }
  
    .heroSection .texts h1 {
      font-size: 1.5em;
      line-height: 1.2em;
    }
  
    .heroSection .texts p {
      font-size: 0.75em;
      width: 70%;

    }
  
    .heroSection .texts a {
      font-size: 0.7em;
      padding: 0.4em 1.5em;
    }
  }

